*.cubin
*.exp
*.lib
*.exe
_scrap
examples
experiments/*/*.sass
experiments/*/*.ptx
experiments/*/*.cubin
experiments/*/*.obj
experiments/*/*.exp
experiments/*/*.lib
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
